@import "tailwindcss";

:root {
  --primary: #1F2A44;
  --secondary: #E8DCC8;
  --accent: #C6A75E;
}

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);

  --font-heading: var(--font-playfair-display);
  --font-body: var(--font-manrope);
}

h1,
h2,
h3 {
  font-family: var(--font-playfair-display);
}

body,
html {
  font-family: var(--font-manrope);
}